.Pokegame {
  text-align: center;
}

.Pokegame-button {
  padding: 10px;
  font-family: 'Ubuntu';
  margin: 10px;
  color: white;
  background-color: #4b4beb;
  border: 2px solid black;
}

.Pokegame-button:hover {
  cursor: pointer;
}
